*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  .App{
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("0.jpg");
    background-position-y: -70px;
  }
  .App button{
    font-size: 20px;

    padding: 5px;
    font-family: comic sans ms;
    font-weight: bold;
    background-color: rgb(115, 12, 248,0.4);
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    width: 23rem;
  }
  .App button:hover{
      background: cadetblue;
    cursor: pointer;
    opacity: 0.9;
  }
  .App input{
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    font-family: comic sans ms;
    font-size: 20px;
    background:rgb(255, 99, 71,0.4);
  }
  .main{
    margin-top: 30px;
    border: 0.02px ridge rgba(0, 0, 0, 0.418);
    padding: 20px;
    padding-right: 40px;
    font-family: comic sans ms;

  }
  .main button{
    background-color: rgb(241, 16, 16,0.4);
    margin-top: 10px;
    
    width: 5rem;
  }